.carousel {
  color: #D6383E;

  &__wrapper {
    overflow: hidden;
    position: relative;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 1s cubic-bezier(0.41, 0.36, 0.05, 0.95);
    backface-visibility: hidden;
    position: relative;
    align-items: flex-start;
    will-change: transform, left;
  }

  /deep/ &__item {
    margin-right: 5px;
    backface-visibility: hidden;
    text-align: center;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;

    &__button {
      background: none;
      border: none;
      font-size: 18px;

      &:hover,
      &:active {
        color: #D6383E;
      }

      &--inactive {
        opacity: .5;
        pointer-events: none;
        color: #ccc;

        &:hover,
        &:active {
          color: #ccc;
        }
      }
    }
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__navigation {
    margin: 10px 0;

    &__number {
      background: none;
      padding: 2px;
      border: 1px solid #ddd;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      margin-right: 5px;

      &--current {
        color: #D6383E;
      }
    }
  }
}
