{
  "root": true,
  "env": {
    "es6": true,
    "browser": true,
    "es2021": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2021,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "plugins": ["react", "prettier", "jest-dom"],
  "globals": {
    "fetch": true,
    "System": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "overrides": [
    {
      "files": ["**/__tests__/**/*.[jt]s?(x)", "**/?(*.)+(spec|test).[jt]s?(x)"],
      "extends": ["plugin:testing-library/react"]
    },
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-debugger": 0,
    "arrow-parens": 0,
    "generator-star-spacing": 0,
    "comma-dangle": ["error", "never"],
    "no-mixed-operators": 0,
    "quote-props": [2, "as-needed"],
    "no-case-declarations": 0,
    "array-bracket-newline": ["error", { "multiline": true }],
    "no-multi-str": 1,
    "max-len": ["error", { "ignoreTemplateLiterals": true, "ignoreComments": true, "code": 120 }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
