.carousel-area {
  &__item {
    text-align: center;
    margin: 20px 0;
    overflow: hidden;

    .carousel {
      margin: 0 auto;
    }

    &--hide-desktop {
      @media (min-width: 801px) {
        display: none;
      }
    }

    &--hide-mobile {
      @media (max-width: 800px) {
        display: none;
      }
    }
  }
}
